body {
  text-align: center;
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

a {
  border: 5px solid black;
  border-radius: 3px;
  text-decoration: none;
  padding: 20px;
  color: black;
}

a:hover {
  border: 6px solid red;
  padding: 22px;
  color: red;
  background-color: black;
}
